.register-view-content {
    margin-top: 5%;
}

.btn-reg {
    margin-top: 10px !important;
    margin-left: 20px;
}

.register-buttons-div {
    margin-top: 20px;
}

.form-group.is-focused .form-control{
    background-image: linear-gradient(#005b99, #005b99), linear-gradient(#ccc, #ccc);
}

.form-group.is-focused:invalid .form-control:invalid{
    background-image: linear-gradient(red, #red), linear-gradient(#ccc, #ccc);
}

.form-group.is-focused label,
.form-group.is-focused label.control-label {
    color: #005b99;
}