.MainMenuItem {
    box-sizing: border-box;
    border-bottom: 1px solid #CCC;
    height: 10vh;
    line-height: 10vh;
    cursor: pointer;
}

.MainMenuItem:hover {
    background-color: #EEE;
}

.menu-item-style {
    text-transform: uppercase;
    font-size: 20px;
    color: #666;
}