.add-button {
    background-color: #005c97;
    padding: 8px 20px;
    height: 35px;
    border-radius: 2px;
    color: #ffffff !important;
    font-weight: 400;
    font-size: 14px;
    text-transform: none;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    letter-spacing: 0.5px;
}

.disabled-button {
    background-color: #005c97;
    padding: 8px 20px;
    height: 35px;
    border-radius: 2px;
    color: #ffffff !important;
    font-weight: 400;
    font-size: 14px;
    text-transform: none;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    letter-spacing: 0.5px;
    margin-left: -5px;
}

.add-button:hover {
    background-color: #0071BC !important;
}

.icon-plus {
    margin-left: 5px;
}