.custom-sub-nav {
    background-color: #003253 !important;
    color: white;
}

.sub-nav-item {
    height: 50px;
    width: 145px;
    text-align: center;
}

.sub-nav-item-small {
    height: 50px;
    width: auto;
    text-align: center;
}

.current-status-show {
    color: rgba(255, 255, 255, 0.87) !important;
    font-size: 12px;
    font-weight: 300;
    text-align: left;
}

.current-status {
    padding: 0 27px;
    margin-top: -3px;
}

.status-label {
    color: rgba(255, 255, 255, 0.87) !important;
    font-size: 10px !important;
}

.label-car {
    color: rgba(255, 255, 255, 0.87) !important;
    font-size: 14px;
    font-weight: 200;
    margin-top: -3px;
    text-transform: uppercase;
}

.label-car-mobile {
    color: rgba(255, 255, 255, 0.87) !important;
    font-size: 14px;
    font-weight: 200;
    text-transform: uppercase;
    line-height: 50px;
    margin-right: 10px;
    text-align: right;
}

.title-car {
    color: rgba(255, 255, 255, 0.87) !important;
    font-size: 24px;
    font-weight: 200;
    margin-top: -3px;
}

.title-car-mobile {
    color: rgba(255, 255, 255, 0.87) !important;
    font-size: 24px;
    font-weight: 200;
    line-height: 50px;
}

.more-circle {
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: 7px;
    margin-right: 2px;
}

.more-icon {
    color: #fff;
    font-size: 25px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.more-dropdown {
    margin-top: 5px;
}

.dropdown-button-status {
    height: 45px;
    width: 145px;
    padding: none !important;
    text-transform: none;
    border-radius: none !important;
    margin-top: -3px !important;
}

.drop-caret {
    margin-left: 5px !important;
}

.interactive-item {
    background-color: rgba(0,103,171,0.2);
}

.disabled-item {
    background-color: transparent;
}

.interactive-item:hover {
    background-color: rgba(0,103,171,0.5);
}

.dropdown-toggle {
    background-color: transparent !important;
    box-shadow: none !important;
}

.dropdown-menu li {
    color: #000;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background-color: #f2f2f2;
}

.dropdown-menu li:active {
    background-color: #ccc;
}

.more-dropdown li {
    padding: 5px 20px;
}

.complete-step {
    margin-top: -3px;
}