body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    background-color: #fff;
}

a {
    color: #0067AB;
    font-weight: 400;
}
a:hover {
    color: #00395E;
    text-decoration: none;
}

#root, .main-container {
    width: 100%;
    height: 100%;
}

.navbar-container {
    height: 60px;
}

.content-container {
    height: calc(100% - 60px);
}