.list-row {
    cursor: pointer;
}

.list-row:hover {
    background-color: rgba(0,103,171,0.05) !important;
}

.list-row:active {
    background-color: rgba(0,103,171,0.1) !important;
}

.sold-icon {
    color: #003154;
    opacity: 0.7;
}
