.car-info-list-item {
	border-bottom: 1px solid #E8E8E8; 
	width: 110%;
	padding-top: 10px;
	margin-left: -13px;
	padding-bottom: 30px;
	margin-bottom: 10px;
}

.car-info-item-name {
	float: left;
	font-weight: 400 !important;
}

.car-info-item {
	float: right;
	font-weight: 300 !important;
}