.progress-bar-element-text-current {
    font-weight: bold;
}

.progress-bar-element-horizontal {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    z-index: 100;
    border: 2px solid #999999;
    margin: 0 auto;
}

.progress-bar-element-done {
    background: #005c97;
    border-color: #005c97;
}

@keyframes pulse {
    0% {
    @include transform(scale(.9));
    }
    70% {
    @include transform(scale(1));
        box-shadow: 0 0 0 7px rgba(1, 0, 0, 0);
    }
    100% {
    @include transform(scale(.9));
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.progress-bar-element-current {
    background: #005c97;
    border-color: #005c97;
    box-shadow: 0 0 0 2px #005c97;
    animation: pulse 1.5s infinite;
}

.progress-bar-element-horizontal::after {
    content: '';
    width: 14.28%; /* 100% width / 7 elements */
    height: 2px;
    background: #999999;
    position: absolute;
    z-index: -1;
    margin-top: 4px;
}

.progress-bar-element-not-current {
    background-color: #999999;
    border-color: #999999;
    box-shadow: none;
}

.seven-col {
    display: inline-block;
    width: 14.28%; /* 100% with / 7 elements */
    text-align: center;
}