.grey-box {
    background-color: #f2f2f2;
    height: 330px;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 2px;
}

@media screen and (max-width: 768px) {
    .grey-box {
        height: auto;
    }
}

.box-title {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.87);
}

