.modal {
    background-color: rgba(255, 255, 255, 0.6);
}

.modal-content {
    background-color: #f2f2f2;
    box-shadow: 10px 10px 50px #888888;
}

.modal-title {
    text-align: left !important;
}