.cancel-button {
    padding: 8px 25px;
    height: 35px;
    border-radius: 2px;
    background-color: #d8d8d8 !important;
    text-align: left !important;
    color: #000 !important;
    font-weight: 400;
    font-size: 14px;
    text-transform: none;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    letter-spacing: 0.5px;
    margin-right: 10px;
}

.cancel-button:hover {
    background-color: #ccc !important;
}

.icon-plus {
    margin-left: 5px;
}