.grey-box-comments {
    background-color: #f2f2f2;
    overflow: auto;
    min-height: 120px;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 2px;
}

.box-content-comment {
    padding-bottom: 40px;
}