.navbar {
    margin: 0;
}

.nav-container {
    display: table;
    width: 100%;
    height: 100%;
}

.custom-nav {
    background-color: #005c97 !important;
    color: white;
    display: table-cell;
    vertical-align: middle;
    height: 60px;
}

.nav-item {
    height: 60px;
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-item:hover {
    background-color: rgba(3, 64, 104, 0.4);
}

.nav-item:active {
    background-color: rgba(3, 64, 104, 0.6) !important;
}

.navbar-brand-white {
    color: rgba(255, 255, 255, 0.87);
    font-size: 16px;
    font-weight: 200;
}

.nav-right-list-item {
    padding-right: 10px;
}

.navbar-right {
    margin: 0;
}

.search-circle {
    background-color: transparent;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    margin-top: 10px;
    margin-right: 2px;
}

.profile-icon {
    color: #fff;
    font-size: 25px;
}

.hamburger-icon {
    font-size: 30px;
    cursor: pointer;
}