.select-step {
    margin-top: 0px;
}

.finish-step-button {
    margin-top: 20px;
}

.disabled-button-mobile {
    background-color: #005c97;
    padding: 8px 20px;
    height: 35px;
    border-radius: 2px;
    color: #ffffff !important;
    font-weight: 400;
    font-size: 14px;
    text-transform: none;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    letter-spacing: 0.5px;
    cursor: not-allowed;
}

.sub-nav-mobile {
    margin-left: 0;
    margin-right: 0;
}

@media screen and (max-width: 320px) {
    .sub-nav-mobile {
        padding-right: 20px;
    }
}