.trash-icon {
    padding-right: 7px;
    font-size: 20px;
    color: #999;

}

.delete-button {
    height: 35px;
    line-height: 10px;
    padding: 8px 20px;
    float: left;
    color: rgba(0, 0, 0, 0.87) !important;
    font-weight: 400;
    font-size: 14px;
    text-transform: none;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    letter-spacing: 0.5px;
}

.delete-button:hover {
    background-color: #CC0000 !important;
    color: #fff !important;
}

.delete-button:hover > .trash-icon {
    color: #fff !important;
}
