.info-item {
    margin-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #D4D5D7;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
}

.info-item-label {
    margin-left: -10px;
}

.info-item-text {
    margin-left: 10px;
}