.MainMenuItem {
    box-sizing: border-box;
    border-bottom: 1px solid #CCC;
    height: 10vh;
    line-height: 10vh;
    cursor: pointer;
}

.MainMenuItem:hover {
    background-color: #EEE;
}

.card-item {
    min-height: 2000px;
}

.cardTitle{
	font-size: 22px;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: -10px;
    margin-left: -15px;
	color: #575f65;
}

.well {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12) !important;
    width: 105%;
    height: 390px;
    margin-bottom: -20px;
}