.grey-box-work {
	background-color: #f2f2f2;
	height: 330px;
	overflow-y: auto;
    padding: 15px 15px 35px 15px;
	margin-bottom: 20px;
	border-radius: 2px;
}

.box-title {
	font-size: 18px;
	color: rgba(0, 0, 0, 0.87);
}

