.log-box {
    background-color: #f2f2f2;
    overflow: auto;
    height: 100%;
}

.log-title {
    color: rgba(255, 255, 255, 0.87);
    background-color: #034068;
    font-size: 18px;
    font-weight: 100;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
}

.log-box-entries {
    padding: 15px;
}

.log-coming-soon {
    text-align: center;
    padding-top: 50%;
    font-size: 16px;
    color: rgba(0,50,83, 0.6);
}

.coffee-icon {
    font-size: 20px;
    padding-left: 4px;
}