.nav-tabs {
    background-color: #005c97;
    width: 100%;
}

.nav-tabs li a {
    font-weight: 300;
    font-size: 12px;
    opacity: 0.5;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

li.active {
    border-bottom: 3px #079bfb solid;
    box-sizing: border-box;
}

.active a {
    font-weight: 300 !important;
    opacity: 1 !important;
}

.list-box-mobile {
    border-radius: 2px;
    overflow-y: auto;
}

.no-border ul {
    border:0;
}

.badge {
    background-color: #fff;
    color: #005c97;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 11px;
    padding: 5px 0;
    font-weight: 500;
    margin-top: -2px;
}
