.list-content {
    padding-top: 100px;
}

.list-box-container {
    padding-left: 0.5%;
    padding-right: 0.5%;
}

.list-box {
    height: 500px;
    border-radius: 2px;
    background-color: #f2f2f2;
    overflow-y: auto;
}

@media screen and (max-width: 768px) {
    .list-box {
        height: auto;
        max-height: 400px;
        margin-bottom: 10px;
    }

    .list-content {
        padding-top: 10px;
    }
}

.list-title-box {
    background-color: #003154;
    height: 60px;
    border-radius: 2px 2px 0px 0px;
}

.list-title-box-started {
    background-color: #005b99;
    height: 60px;
    border-radius: 2px 2px 0px 0px;
}

.list-title {
    color: #fff;
    line-height: 50px;
    font-weight: 200;
    margin-left: 10px;
    font-size: 18px;
    float: left;
}

.list-number {
    color: #fff;
    line-height: 50px;
    font-weight: 200;
    font-size: 18px;
    margin-right: 10px;
    float: right;
}

.list-head {
    border-bottom: 1px solid #ccc !important;
}

.list-head-item b {
    color: #000;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 13px;
}

.table-striped td{
    border: none !important;
    color: #000 !important;
    font-weight: 300;
}

.list-container {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.table tr td:nth-child(2), .table tr td:nth-child(3) {
    padding-left: 20px;
}

.table tr td:nth-child(1) {
    font-weight: 400;
}

