.comments-box {
    margin-top: 20px;
}

@media all and (min-width: 992px) {
    .vertical-line {
        border-right: 1px solid #D4D5D7;
        padding-right: 30px;
    }

    .comments-second-col {
        padding-left: 30px;
        padding-bottom: 20px;
    }
}
