.log-container,
.view-container,
.main-view-content {
    height: 100%;
}

.no-gutters {
    padding-right: 0;
    padding-left: 0;
}

.grey-box-spacing {
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (min-width: 1025px){
    .main-view-margin {
        padding-right: 50px;
        padding-left: 50px;
    }

}
