.work-info-item {
    margin-top: 20px;
    padding-bottom: 5px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
}

.info-item-label {
    margin-left: -10px;
}

.info-item-text {
    margin-left: 10px;
}

.work-checkbox {
    border-radius: 1px;
    background-color: #ffffff !important;
    border: solid 1px rgba(151, 151, 151, 0.5);
    text-shadow: none;
    margin-top: 18px !important;

}

.work-checkbox:checked {
    background-color: #005c97 !important;
}

.arrow-icon {
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
}

.work-title {
    font-size: 14px;
}

.work-text-location {
    font-size: 12px;
}

.work-text-date {
    padding-top: 6px;
    padding-bottom: 5px;
    font-size: 10px;
    font-weight: 400;
}

.half-line-separator {
    border-bottom: 1px solid #D4D5D7;
}

.edit-work-icon {
    float: right;
}
