.progress-bar-container {
    padding: 20px 0;
}

.progress-bar-element-text-container {
    padding-bottom: 15px;
}

.progress-bar-elements > div:last-child > .progress-bar-element-horizontal::after {
    height: 0;
}

.panel-z-index-horizontal {
    position: relative;
    z-index: 1;
}