.time-date {
    width: 140px !important;
    padding-left: 5px;
    text-align: left;
}

.time-field {
    width: auto;
    max-width: 135px;
    padding-left: 35px;
}

.icon-date-time {
    margin-left: 5px;
    margin-right: 10px;
}

.date-time-label {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);
    width: 20px;
}

.date-div {
    padding-top: 10px;
}

.work-from-to {
    padding-top: 60px;
    font-weight: 500;
}