.log-entry {
    border-bottom: 1px solid rgba(150, 150, 150, 0.42);
    font-size: 10px;
    line-height: 1.75;
    margin-bottom: 15px;
}

.log-heading {
    font-size: 12px;
}

.log-metadata {
    font-size: 10px;
}
